:root {
  background-color: var(--bg-light);
  background-image: url('/img/bg-pattern.svg');
  background-size: cover;
  background-position: top center;
  font-family: jaf-facit, sans-serif;
  font-weight: 400;
  line-height: 1.44;
  font-synthesis: none;
  color: var(--fg);

  --spacing: 1.5rem;
  --section-separation: calc(var(--spacing) * 2);
  --brand-color: hsla(196, 88%, 66%, 1);
  --bg-light: #444;
  --bg-dark: #222;
  --fg: #eee;
}

::selection {
  background-color: var(--brand-color);
  animation: 5s linear infinite colorshift-bg;
  color: var(--bg-dark);
  text-shadow: none;
}

.shiny {
  background-image: url('/img/bg-pattern-anim.svg');
}

body {
  margin: 0;
  padding: 0;
  color: #ddd;
}

section {
  overflow: auto;
  background-color: #333;
  box-sizing: border-box;
  margin: var(--section-separation) auto;
  width: calc(100vw - (var(--spacing) * 2));
  max-width: 50rem;
  /* faux border, drop shadow*/
  box-shadow: 0 0 0 0.2vmin #222,
    calc(var(--spacing) * 0.60) var(--spacing) 0 var(--bg-dark);
}

.shiny section {
  backdrop-filter: hue-rotate(137deg) blur(5px);
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 0 0 0.2vmin rgba(0,0,0,0.7),
    calc(var(--spacing) * 0.60) var(--spacing) 0 rgba(0,0,0,0.3);
}

a {
  color: var(--brand-color);
}

.shiny a {
  animation: colorshift 11s infinite linear alternate-reverse;
}

a:hover {
  animation: 5s linear infinite colorshift;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.hidden-text {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.main-title {
  font-family: montage-sc, serif;
  font-feature-settings: "kern" 1, "liga" 1;
  font-weight: 400;
  margin: var(--section-separation) 0;
  font-size: 12vmin;
  text-align: center;
  color: var(--brand-color);
  --shadow-offset-base: 0.04em;
  --h-shadow-offset: calc(var(--shadow-offset-base) * 3);
  --v-shadow-offset: calc(var(--shadow-offset-base) * 5);
  text-shadow: var(--h-shadow-offset) var(--v-shadow-offset) 0 var(--bg-dark);
}

.shiny .main-title {
  text-shadow: var(--h-shadow-offset) var(--v-shadow-offset) 0 rgba(0,0,0,0.3);
}

.section-head {
  color: var(--brand-color);
  margin: var(--spacing);
  text-align: center;
  font-size: 2rem;
}

.shiny .main-title,
.shiny .section-head {
  animation: colorshift 7s linear infinite alternate;
}

.places-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: calc(var(--spacing) / 2);
}

.place {
  flex: 0 1 64px;
  margin: calc(var(--spacing) / 2);
}

.place svg {
  color: var(--fg);
}

.place a:hover svg {
  color: inherit;
}

.shiny .place a svg {
  animation: colorshift 11s infinite linear alternate-reverse;
}

.blurb {
  padding: 0 var(--spacing);
}

.list-for-nerds {

}

.list-for-nerds dt,
.list-for-nerds dd {
  display: inline;
}

.list-for-nerds dt {
  font-weight: bold;
}
.list-for-nerds dt:nth-of-type(1):before {
  content: none;
  white-space: normal;
}
.list-for-nerds dt::before {
  content: "\A";
  white-space: pre;
}

.list-for-nerds dd {
  margin-left: 0;
  display: inline-block;
}
.list-for-nerds dd::before {
  content: " • ";
}

@media (min-width: 1000px) {
  :root {
    background-size: 1000px 1000px;
  }

  .main-title {
    font-size: 6.5rem;
  }

  section {
    width: 50rem;
  }
}

@keyframes colorshift {
  from { color: hsla(196, 88%, 66%, 1); }
  20% { color: hsla(268, 88%, 66%, 1); }
  40% { color: hsla(340, 88%, 66%, 1); }
  60% { color: hsla(52, 88%, 66%, 1); }
  80% { color: hsla(124, 88%, 66%, 1); }
  to { color: hsla(196, 88%, 66%, 1); }
}

@keyframes colorshift-bg {
  from { background-color: hsla(196, 88%, 66%, 1); }
  20% { background-color: hsla(268, 88%, 66%, 1); }
  40% { background-color: hsla(340, 88%, 66%, 1); }
  60% { background-color: hsla(52, 88%, 66%, 1); }
  80% { background-color: hsla(124, 88%, 66%, 1); }
  to { background-color: hsla(196, 88%, 66%, 1); }
}
