* {
  font-variation-settings: 'wght' var(--wght, 60), 'shrp' var(--shrp, 20);
}

:root {
  background-color: var(--bg-light);
  background-image: url('../img/bg-pattern.svg');
  background-size: 1600px 1600px;
  background-position: top center;
  font-family: gwen-variable-wf, sans-serif;
  line-height: 1.44;
  font-synthesis: none;
  color: var(--fg);

  --spacing: 1.5rem;
  --section-separation: calc(var(--spacing) * 2);
  --brand-color: hsla(196, 88%, 66%, 1);
  --bg-light: #444;
  --bg-dark: #222;
  --fg: #eee;
}

::selection {
  background-color: var(--brand-color);
  animation: 5s linear infinite colorshift-bg;
  color: var(--bg-dark);
  text-shadow: none;
}

.shiny {
  background-image: url('../img/bg-pattern-anim.svg');
}

body {
  margin: 0;
  padding: 0;
  color: #ddd;
}

section {
  overflow: auto;
  background-color: #333;
  box-sizing: border-box;
  margin: var(--section-separation) auto;
  width: calc(100vw - (var(--spacing) * 2));
  max-width: 50rem;
  /* faux border, drop shadow*/
  box-shadow: 0 0 0 0.2vmin #222,
    calc(var(--spacing) * 0.60) var(--spacing) 0 var(--bg-dark);
}

.shiny section {
  backdrop-filter: hue-rotate(137deg) blur(5px);
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 0 0 0.2vmin rgba(0,0,0,0.7),
    calc(var(--spacing) * 0.60) var(--spacing) 0 rgba(0,0,0,0.3);
}

a,
strong {
  color: var(--brand-color);
  --wght: 90;
  --shrp: 66;
}

.shiny a {
  animation: colorshift 11s infinite linear alternate-reverse;
  transition: color 2s linear;
}

a:hover {
  animation: 5s linear infinite colorshift;
}

h1, h2, h3, h4, h5, h6 {
  --wght: 130;
  --shrp: 60;
}

.hidden-text {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.main-title {
  margin: var(--section-separation) 0;
  font-size: 14vmin;
  text-align: center;
  color: var(--brand-color);
  --wght: 180;
  --shrp: 100;

  --shadow-offset-base: 0.04em;
  --h-shadow-offset: calc(var(--shadow-offset-base) * 3);
  --v-shadow-offset: calc(var(--shadow-offset-base) * 5);
  text-shadow: var(--h-shadow-offset) var(--v-shadow-offset) 0 var(--bg-dark);
}

.shiny .main-title {
  text-shadow: var(--h-shadow-offset) var(--v-shadow-offset) 0 rgba(0,0,0,0.3);
} .section-head { color: var(--brand-color);
  margin: var(--spacing);
  text-align: center;
  font-size: 2.5rem;
}

.shiny .main-title,
.shiny .section-head {
  animation: colorshift 7s linear infinite alternate;
}

.creative-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: calc(var(--spacing) / 2);
}

.creative-thing {
  flex: 0 1 calc(50% - var(--spacing));
  margin: calc(var(--spacing) / 4);
  padding: calc(var(--spacing) / 4);
  background-image: url('../img/bg-pattern.svg');
  background-size: 1600px 1600px;
  background-position: calc(var(--rando) * 69420px) calc(var(--rando) * -42069px);
}
.creative-thing:nth-of-type(4n+0) { --rando: 715; }
.creative-thing:nth-of-type(4n+1) { --rando: 615; }
.creative-thing:nth-of-type(4n+2) { --rando: 198; }
.creative-thing:nth-of-type(4n+3) { --rando: 512; }

iframe {
  display: block;
}

.places-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: calc(var(--spacing) / 2);
}

.place {
  flex: 0 1 64px;
  margin: calc(var(--spacing) / 2);
}

.place svg {
  color: var(--fg);
}

.place a:hover svg {
  color: inherit;
}

.shiny .place a svg {
  animation: colorshift 11s infinite linear alternate-reverse;
}

.blurb {
  padding: 0 var(--spacing);
}

.list-for-nerds {
  padding: 0;
  text-align: center;
}

.list-for-nerds li {
  display: inline-block;
}
.list-for-nerds li::before {
  content: " • ";
}

@media (min-width: 1000px) {
  .main-title {
    font-size: 8rem;
  }

  section {
    width: 50rem;
  }
}

@keyframes colorshift {
  from { color: hsla(196, 88%, 66%, 1); }
  20% { color: hsla(268, 88%, 66%, 1); }
  40% { color: hsla(340, 88%, 66%, 1); }
  60% { color: hsla(52, 88%, 66%, 1); }
  80% { color: hsla(124, 88%, 66%, 1); }
  to { color: hsla(196, 88%, 66%, 1); }
}

@keyframes colorshift-bg {
  from { background-color: hsla(196, 88%, 66%, 1); }
  20% { background-color: hsla(268, 88%, 66%, 1); }
  40% { background-color: hsla(340, 88%, 66%, 1); }
  60% { background-color: hsla(52, 88%, 66%, 1); }
  80% { background-color: hsla(124, 88%, 66%, 1); }
  to { background-color: hsla(196, 88%, 66%, 1); }
}
